

body {
	background-color: darkblue;
	font-family: 'Raleway', sans-serif;
}

.nav {
	margin: 0 auto;
	width: 100%;
	text-align: center;

}

.nav li {

	background-color: blue;
	border-radius: 10px;
	padding: 5px;
	margin-bottom: 10px;
}

.nav a {
	color: white;
}

.menu {
	padding: 10px;

}

.busqueda {
	height: 500px;
	margin-top: 30px;
}

.comentario {
	margin-top: 20px;
}

.cuerpo, .navbar {
	width: 90%;
	margin: 0 auto;
	background-color: white;
}



.fa {
	font-size: 3em !important;
}

.logo-img {
	width: 30%;
	padding: 5px;
}

.blog-img {
	width: 100%;
	padding: 5px;
}

.titulo-text {
	margin-left: 30px;
}





@media screen and (max-width: 770px) {

	.logo-img {
		width: 50%;
	}

	.menu {
		margin-top: 20px;
	}

]



